{
  "extends": "@folio/eslint-config-stripes",
  "rules": {
    "quotes": [
      "error",
      "double",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ],
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off",
    "import/no-named-as-default": "off"
  }
}
