{
  "extends": ["@folio/eslint-config-stripes", "plugin:import/typescript"],
  "ignorePatterns": ["src/typings/stripes/components/**/*"],
  "rules": {
    "import/no-named-as-default": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
        "disallowTypeAnnotations": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/test/**/*", "src/**/*.test.ts", "src/**/*.test.tsx"],
      "env": { "jest": true }
    }
  ]
}
