@import "@folio/stripes-components/lib/variables";

.cellWrapper {
  align-items: start;
}

.timeFieldWrapper {
  width: 100%;

  & [role="alert"] div {
    display: none;
    margin-bottom: 0 !important;
  }

  & > div > div > div {
    margin-bottom: 0 !important;
  }
}

.conflictMessage {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  color: var(--error);

  & span {
    margin-right: 0.3rem;
  }
}

.conflictCell {
  background-color: var(--error-fill);
}
