.day-cell {
  align-items: start;
}

.hours-cell {
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}
.hours-cell p {
  margin: 0;
  padding: 5px 10px;
}
.hours-cell p:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.closed {
  font-style: italic;
  color: grey;
}

.hidden {
  display: none;
}
